<!DOCTYPE html>
<html lang="en">
    <link rel="stylesheet" type="text/css" href="../static/css/style.css" />
<head>
    <meta charset="UTF-8">
    <title>Ms. McD's Virtual Classroom</title>
</head>
<body>
<script src="/static/js/navbar.js"></script>
<script>createNavbar(false);</script>

<H1>Welcome to Ms. McD's Virtual Classroom!</H1>
<div class="menu-button">
    <a href="/studentlogin">Student Login</a>
</div>

<div class="menu-button">
    <a href="/teacherlogin">Teacher Login</a>
</div>

</body>
</html>